#root {
  text-align: center;
  margin: 0 auto;
  width: 95%
}

.card {
  padding: 2em;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333333;
  padding: 20px 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.header > div {
  padding: 0 20px;
  line-height: 2em;
  display: flex;
}

.App {
  display: flex;
  justify-content: center;
}

.login {
  flex-direction: column;
}

.chatBox {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 20em;
  background-color: #222222;
  padding: 20px 0;
  z-index: 999;
  display: flex;
  flex-direction: column-reverse;
}

.chatMessage {
  align-self: flex-start;
  text-align: left;
}

.messageBox {
  padding: 0;
  align-self: flex-end;
  margin-bottom: 2em;
  width: 100%;
  height: 6em;
}

.settings {
  padding: 0;
  border: none;
  background-color: #333333;
}

.username {
  padding: 0 10px;
  font-weight: bold;
  line-height: 40px;
}

.dropdown {
  display: flex;
  position: absolute;
  flex-direction: column;
  right: 0;
  top: 70%;
  background-color: #444444;
}

.dropdown-item {
  background-color: #444444;
  border-radius: 0;
  border: none;
}

.dropdown-item:hover {
  background-color: #666666;
}
