#root {
  text-align: center;
  margin: 0 auto;
  width: 95%
}

.card {
  padding: 2em;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333333;
  padding: 20px 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.header > div {
  padding: 0 20px;
  line-height: 2em;
}

.App {
  display: flex;
  justify-content: center;
}

.login {
  flex-direction: column;
}

.chatBox {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 20em;
  background-color: #222222;
  padding: 20px 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
}
